<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Nailvault</h1>
    <p class="lead">We're hard at work, developing this beauty! It will be available soon!</p>
  </div>
</div>
