<!DOCTYPE html>
<html>
  <head>
    <title>Nailvault</title>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="UviRsfpWpoRCVEfKtBSJozGYCjH7smC6QsGqFuihveA" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
